<footer class="footer-basic">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#" id="ft-a">Accueil</a></li>
        <li class="list-inline-item"><a href="#" id="ft-a">Services</a></li>
        <li class="list-inline-item"><a href="#" id="ft-a">About</a></li>
        <li class="list-inline-item"><a href="#" id="ft-a">Terms</a></li>
        <li class="list-inline-item"><a href="#" id="ft-a">Privacy Policy</a></li>
    </ul>
    <p class="copyright">katende © 2022</p>
</footer>