<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Segond degré</title>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Footer-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Header-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Navigation-with-Button.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Registration-Form-with-Photo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style2.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icone1.ico')}}">
</head>
