<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" id="nb">
    <div class="container"><a class="navbar-brand" href="/">Katende app</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
            </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="/segond" id="nb-btn">Sign in</a></span>
        </div>
    </div>
</nav>
